@charset "UTF-8";
body {
    max-width: 35em;
    margin: auto;
    padding: 0.75em 1.5em 1em;
    font-family: sans-serif;
}
h1, h2 { font-family: serif; }
h1, ul { margin: 0; }
h1 { text-align: center; }
h3, h2 { margin: 1em 0 -0.25em; }
h3 {
    margin-top: 1.25em;
    font-size: 1em;
}
hr {
    border: none;
    border-bottom: 1px solid ghostwhite;
    /*padding-top: 5px;*/
    margin: 0 0 -0.5em -21px;
}

code {
    color: darkgreen;
    white-space: nowrap;
}
span.version {
    font-family: serif;
    font-weight: bold;
}
/*small {
    font-size: 13px;
    font-weight: normal;
    vertical-align: text-top;
}*/

li {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0.5em 0 1em;
    list-style-type: square;
}
li.critical { list-style-image: url('critical.png'); }
li.developer { list-style-type: circle; }
